<div id="statusModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Завершити обробку</h4>
            </div>
            <form action="" method="post" name="setstatusform" id="setstatusform">

                <div class="modal-body">
                    <div class="container-fluid">
                        <fieldset>
                            <input type="hidden" name="docid" value="{{doc.id}}" />
                            <div class="row">
                                <!-- Select Basic -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="donestat">Оберіть статус</label>
                                    <div class="col-md-6">
                                        <select id="donestat" name="donestat" class="form-control" required="required">
                                            <option value="-1" disabled="disabled" selected="selected">Оберіть статус</option>
                                            <option value="p">Вирішено позитивно</option>
                                            <option value="m">Відмовлено</option>
                                            <option value="r">Роз'яснено</option>

                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="textstatus">Примітка до виконання</label>
                                    <div class="col-md-6">                     
                                        <textarea class="form-control" id="textstatus" name="textstatus"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="nav nav-pills">
                                            <li class="active"><a id="done-template-0" href="#">Без шаблону</a></li>
                                            <li><a id="done-template-1"  href="#">Рішення виконкому</a></li>
                                            <li><a id="done-template-2"  href="#">Лист з поз'ясненням</a></li>
                                            <li><a id="done-template-3"  href="#">Лист з повідомленням</a></li>
                                        </ul>
                                    </div> 
                                </div>                     
                            </div>


                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="btnpoststatus" type="button" data-dismiss="modal">Зберегти</button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">Скасувати</button>
                    <script>
                        $(document).ready(function () {
                            $("#btnpoststatus").click(function () {
                                $("#setstatusform").ajaxSubmit({url: '{{path('ajax.donestatus.push')}}', type: 'post'});
                                setTimeout(function () {
                                    location.reload();
                                }, 1000);
                            });
                            
                            $("#done-template-0").click(function(){
                                $("#textstatus").text('');
                            });

                            $("#done-template-1").click(function(){
                                $("#textstatus").text('Рішення виконкому №     від « » 2018 року. Вирішено позитивно.');
                            });

                            $("#done-template-2").click(function(){
                                $("#textstatus").text('« » 2018 року  заявнику надіслано листа з повідомленням про призначення субсидії. Виконавець:');
                            });

                            $("#done-template-3").click(function(){
                                $("#textstatus").text('« » 2018 року  заявнику надіслано листа з роз’ясненням. Виконавець:');
                            });

                        });
                    </script>
                </div>
            </form>
        </div>
    </div>
</div>
